.dark{
    background: #171717;
}
.dark .nav{
    color:white;
}
.dark .item{
    border-color: cornsilk;
    color: cornsilk;
}
.dark .item:hover, .dark .item.active{
    background:cornsilk;
    color: black
}
.dark .grid img{
    filter: brightness(0.8);
}
.dark .grid:hover > img{
    filter: grayscale(1);
}
.dark .grid:hover > img:hover{
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
    z-index: 99;
    border-color: rgb(201, 181, 27);
    filter: brightness(1);
}
.dark .footer{
    color: cornsilk;
}