*{
    margin: 0;
    padding: 0;
}
.nav{
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.nav img{
    height: 40px;
    margin: 5px;
}
.nav span{
    font-size: 25px;
    font-weight: 600;
}
.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    border: 2px solid;
    width: fit-content;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 5px;
}
.item:hover, .item.active{
    transform: scale(1.1);
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.grid img{
    height: 300px;
    width: 300px;
    margin: 5px;
}
.grid:hover > img{
    filter: grayscale(1);
}
.grid:hover > img:hover{
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
    z-index: 99;
    border: 2px solid rgb(0, 0, 80);
    filter: brightness(1);
    filter: grayscale(0);
}
.footer{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}